.weather {
  text-align: left;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/059/697/original/6119368.jpg?1671481891");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 650px;
  margin: 30px auto;
  padding: 30px 60px;
  border-radius: 20px;
  font-family: Nunito, Helvetica, sans-serif;
}

.weather form {
  margin: 20px auto;
}
h2 {
  color: rgb(33, 33, 33);
}
h6 {
  color: rgb(33, 33, 33);
}
.degree {
  color: #212121;
  font-size: 130px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}
.weather units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.attributes {
  font-size: 15px;
  text-align: center;
  color: #f8f9fa;
  text-shadow: 2px 0px 10px black;
}
.descriptions {
  font-size: 14px;
  text-align: center;
  color: #f8f9fa;
  text-shadow: 2px 0px 10px black;
  line-height: 3;
}
.weather li {
  color: rgb(33, 33, 33);
  list-style: none;
  font-size: 16px;
}
.weather ul {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
